<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nycloud.admin.dao.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.nycloud.admin.model.SysMenu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="component" jdbcType="VARCHAR" property="component" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="enable" jdbcType="INTEGER" property="enable" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nycloud.admin.model.SysMenu">
    insert into sys_menu (id, title, url,
    icon, parent_id, sort,
    level, name, path,
    component, description, enable
    )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
    #{icon,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER},
    #{level,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR},
    #{component,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER}
    )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nycloud.admin.model.SysMenu">
    update sys_menu
    set title = #{title,jdbcType=VARCHAR},
    url = #{url,jdbcType=VARCHAR},
    icon = #{icon,jdbcType=VARCHAR},
    parent_id = #{parentId,jdbcType=INTEGER},
    sort = #{sort,jdbcType=INTEGER},
    level = #{level,jdbcType=INTEGER},
    name = #{name,jdbcType=VARCHAR},
    path = #{path,jdbcType=VARCHAR},
    component = #{component,jdbcType=VARCHAR},
    description = #{description,jdbcType=VARCHAR},
    enable = #{enable,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, title, url, icon, parent_id, sort, level, name, path, component, description,
    enable
    from sys_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, url, icon, parent_id, sort, level, resource_url, web_component,
    description, enable
    from sys_menu order by level,sort,id asc
  </select>
</mapper>