<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nycloud.admin.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.nycloud.admin.model.SysUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="last_password_change" jdbcType="BIGINT" property="lastPasswordChange" />
    <result column="enable" jdbcType="INTEGER" property="enable" />
    <result column="authorities" jdbcType="VARCHAR" property="authorities" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nycloud.admin.model.SysUser">
    insert into sys_user (id, username, password,
    create_time, last_password_change, enable,
    authorities, nick_name)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
    #{createTime,jdbcType=BIGINT}, #{lastPasswordChange,jdbcType=BIGINT}, #{enable,jdbcType=INTEGER},
    #{authorities,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nycloud.admin.model.SysUser">
    update sys_user
    set username = #{username,jdbcType=VARCHAR},
    password = #{password,jdbcType=VARCHAR},
    create_time = #{createTime,jdbcType=BIGINT},
    last_password_change = #{lastPasswordChange,jdbcType=BIGINT},
    enable = #{enable,jdbcType=INTEGER},
    authorities = #{authorities,jdbcType=VARCHAR},
    nick_name = #{nickName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, username, password, create_time, last_password_change, enable, authorities,
    nick_name
    from sys_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, password, create_time, last_password_change, enable, authorities,
    nick_name
    from sys_user
  </select>
</mapper>