<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nycloud.admin.mapper.SysUserGroupPkMapper">
  <resultMap id="BaseResultMap" type="com.nycloud.admin.model.SysUserGroupPk">
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
  </resultMap>
</mapper>