<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nycloud.admin.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.nycloud.admin.model.SysUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="last_password_change" jdbcType="BIGINT" property="lastPasswordChange" />
    <result column="enable" jdbcType="INTEGER" property="enable" />
    <result column="authorities" jdbcType="VARCHAR" property="authorities" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
  </resultMap>
  <select id="selectRoleNoExistUsers" parameterType="java.util.Map" resultMap="BaseResultMap">
    select A.* from sys_user as A where A.id not in (select B.user_id from sys_user_role_pk as B where B.role_id = #{roleId,jdbcType=INTEGER})
    <if test="name != null">
     and A.username like '%'#{name,jdbcType=VARCHAR}'%'
    </if>
  </select>
  <select id="selectRoleUsers" parameterType="java.util.Map" resultMap="BaseResultMap">
    select A.* from sys_user as A where A.id IN (select B.user_id from sys_user_role_pk AS B where B.role_id = #{roleId,jdbcType=INTEGER})
    <if  test="name != null">
      and A.username like '%'#{name,jdbcType=VARCHAR}'%'
    </if>
  </select>
</mapper>